.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    z-index: 1;
}

.address-item {
    display: block;
    font-style: normal;
    text-underline-offset: 4px;
}


.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 90px 50px 96px 50px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    font-size: 18px;
    margin-top: -4px;
}

.header__links-list-item {
    list-style: circle;
    text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item_no-bullit a {
    text-decoration: none;
  }

.header__logo-image {
    width: 148px;
    height: 105px;
    margin-top: 2.5px;
}

.header__link {
    text-transform: lowercase;
    text-decoration: underline;
}

.header__link_active {
    text-transform: lowercase;
}

.header__address {
    display: block;
    justify-self: end;
    /*max-width: 240px;*/
    font-size: 18px;
    line-height: 24.3px;
    padding: 0 37px;
    margin-top: -4px;
}


.cover {
    background: url(../images/cover.jpg) center/cover no-repeat;
    padding: 162px 50px 50px 50px;
    position: relative;
    margin-top: -4px;
}

.cover__title {
    position: relative;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    text-align: start;
    padding: 1px 0 0 0;
}

.aligned-text_center {
    display: block;
    text-align: center;
    padding: 19px 0 0 30px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    padding-top: 18px;
    margin-right: -30px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 104px;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}

.cover__description-text {
    word-spacing: 19px;
    font-size: 22px;
    align-self: center;
}

.bet-button {
    position: relative;
    justify-self: end;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    background: none;
    border: 1px solid white;
    padding: 12px 32px;
    font-size: 22px;
}


.lots {
    margin: 180px 24px 0 24px;
}

.lots__heading {
    margin: 0 0 27px 40px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    height: 596px;
}

.card-link {
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.card__title {
    position: relative;
    z-index: 2;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
    padding: 48px 40px 0 40px;
    font-size: 22px;
}

.card__text {
    position: relative;
    z-index: 2;
    justify-self: end;
    font-size: 20px;
    line-height: 120%;
    color: white;
    padding: 0 40px 48px 40px;
}

.lots__look-more-link {
    position: absolute;
    padding: 30px 0 0 40px;
    text-decoration: underline;
    font-size: 20px;
    text-underline-offset: 4px;
}


.about {
    display: grid;
    grid-template-columns: 0.6fr 1.33fr;
    margin: 207px 24px 0 72px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    padding: 64px 45.52px 62px 46.48px;
    background: black;
}

.about__title {
    text-transform: uppercase;
    margin: 103px 0 100px 0;
    font-size: 40px;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
}

.bottom-padding {
    padding-bottom: 24px;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 180px;
    padding: 0 24px 82px 24px;
}

.footer__address {
    display: block;
    justify-self: start;
    /*max-width: 240px;*/
    font-size: 18px;
    line-height: 24.3px;
    padding: 0 27px;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
    justify-self: center;
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__menu-link {
    text-transform: lowercase;
    text-decoration: underline;
}

.footer__menu-link_active {
    text-transform: lowercase;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    padding: 0 27px;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}